<%= form_with(model: frind, local: true) do |form| %>
  <% if frind.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(frind.errors.count, "error") %> prohibited this frind from being saved:</h2>

      <ul>
        <% frind.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>
<div class="field">
    <%= form.text_field :user_id, value:current_user.id, id: :frind_user_id, type: :hidden %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
